<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Surat Undangan Maulid Nabi teragung, Kanjeng Nabi MUHAMMAD SAW">
    <meta name="author" content="Moch Yusya">
    <meta property="og:title" content="Surat Undangan Maulid Al-Ukhuwwah Daarul Musthofa">
    <meta property="og:description" content="Mengajak untuk bersama-sama mensyukuri anugrah terbesar dilahirkannya nabi teragung suritauladan dan panutan untuk semua manusia nabi Muhammad SAW di MT.Al-Ukhuwwah Daarul Musthofa">
    <meta property="og:image" content="/images/logo.jpg">
    <meta property="og:url" content="https://www.domainanda.com/halaman">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Surat Undangan Maulid Al-Ukhuwwah Daarul Musthofa">
    <meta name="twitter:description" content="Mengajak untuk bersama-sama mensyukuri anugrah terbesar dilahirkannya nabi teragung suritauladan dan panutan untuk semua manusia nabi Muhammad SAW di MT.Al-Ukhuwwah Daarul Musthofa.">
    <meta name="twitter:image" content="/images/logo.jpg">
    <meta name="twitter:site" content="@UsernameAnda">
    <link rel="canonical" href="https://www.domainanda.com/halaman">
    <link rel="icon" href="/public/favicon.ico">
    <meta name="theme-color" content="#FFFFFF">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- body %>

    <!-- Import Alpine.js -->
    <script src="/javascripts/bundle.js"></script>
</body>
</html>
