<!DOCTYPE html>
<html lang="id" translate="no" class="scroll-smooth">
    <head>
        <head>
        <!-- Charset dan Viewport -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Meta Description dan Author -->
        <meta name="description" content="Pusat informasi Tour ADM 2026 - Ziyaroh & Liburan Lebaran Pamijahan pangandaran di Majlis Ta'lim Al-Ukhuwwah Daarul Mushthofa">
        <meta name="author" content="IPA">
    
        <meta property="og:image" content="https://medialinadm.vercel.app/images/Logo.gif">
        <meta property="og:image:width" content="280">
        <meta property="og:image:height" content="280">
    
    
        <!-- Open Graph (OG) Meta Tags -->
        <meta property="og:title" content="Tour ADM 2026">
        <meta property="og:description" content="Pusat informasi Tour ADM 2026 - Ziyaroh & Liburan Lebaran Pamijahan pangandaran di Majlis Ta'lim Al-Ukhuwwah Daarul Mushthofa">
        <meta property="og:image" content="https://medialinadm.vercel.app/images/Logo.gif">
        <meta property="og:image:width" content="630">
        <meta property="og:image:height" content="630">
        <meta property="og:url" content="https://medialinadm.vercel.app/haul-apa-limbangan">
        <meta property="og:type" content="website">
    
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Tour ADM 2026">
        <meta name="twitter:description" content="Pusat informasi Tour ADM 2026 - Ziyaroh & Liburan Lebaran Pamijahan pangandaran di Majlis Ta'lim Al-Ukhuwwah Daarul Mushthofa">
        <meta name="twitter:image" content="https://medialinadm.vercel.app/images/Logo.gif">
        <meta property="og:image:width" content="630">
        <meta property="og:image:height" content="630">
        <meta name="twitter:site" content="@UsernameAnda">
    
        <!-- Canonical Link -->
        <link rel="canonical" href="https://medialinadm.vercel.app/tour-adm-2026">
        
        <!-- Favicon dan Theme Color -->
        <link rel="icon" href="/favicon.ico">
        <meta name="theme-color" content="#FFFFFF">
    
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css?v=<%= Date.now() %>">
    </head>
    <body>
        <%- body %>
    
        <!-- Import Alpine.js -->
        <script src="/javascripts/bundle.js"></script>
    </body>
</html>