<!-- background -->
 <div class="min-w-[1080px] bg-emerald-600 flex justify-center items-center">
<!-- cover -->
<div class="min-h-[1920px] min-w-[1080px] bg-[url('/images/maulid2025/bg-cover-web.gif')] bg-top bg-100%">
    
</div>
 </div>