<%- include('navbar') %>
    <div class="w-full bg-bg-madrasah bg-bottom bg-100% h-h-screen-80 flex justify-center">
        <div class="my-auto mx-5 bg-slate-200 opacity-60 rounded-xl p-2">
            <p class="font-amiri text-center md:text-4xl">ليس الميت من خرجت روحه من جنبيه وانما الميت من لا يفقه ماذا
                لربه من الحقوق عليه</p>
            <p class="font-sofia text-center md:text-xl mt-5">
                "Bukanlah orang mati itu yang rohnya keluar dari tubuhnya, melainkan orang mati itu adalah yang tidak
                memahami apa saja hak-hak yang menjadi kewajiban dirinya terhadap Tuhannya."
            </p>
        </div>
    </div>

 