<div class="w-screen">
   <%- include('navbar') %>
</div>
<div class="bg-haul-background/5 rounded-md p-1 m-1 w-full">
   <!-- dekorasi -->
<div class="flex flex-row items-end justify-between gap-1">
   <div class="text-haul-text-header w-fit">Agenda Kegiatan ADM</div>
   <div class="w-full h-1 bg-haul-text-header rounded-full"></div>
</div>
   <%- include('slide-agenda') %>
</div>
<div class="bg-haul-background/5 rounded-md p-1 m-1 w-screen">
   <!-- dekorasi -->
<div class="flex items-end justify-between gap-1">
   <div class="text-haul-text-header">Postingan</div>
   <div class="w-full h-1 bg-haul-text-header rounded-full"></div>
</div>
<div class="grid md:grid-cols-1 lg:grid-cols-2 lg:gap-1">
   <%- include('post') %>
</div>
</div>